################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElasticSearchWithNetCore/.vs/ElasticSearchWithNetCore/FileContentIndex/2d4182c3-f215-4951-a16f-5623693200cc.vsidx
/ElasticSearchWithNetCore/.vs/ElasticSearchWithNetCore/FileContentIndex/334b462d-36eb-4b8a-b631-82863aed9a2c.vsidx
/ElasticSearchWithNetCore/.vs/ElasticSearchWithNetCore/FileContentIndex/451e1b8f-a456-453d-9fd0-13913d25b16a.vsidx
/ElasticSearchWithNetCore/.vs/ElasticSearchWithNetCore/FileContentIndex/4b7e4cb5-764e-4a49-ae7b-33095f107e72.vsidx
/ElasticSearchWithNetCore/.vs/ElasticSearchWithNetCore/FileContentIndex/76319de0-487c-43b3-995d-34fa851d6c8f.vsidx
